.ase-slider-container {
    .swiper-wrapper {
        &.ase-zoomIn {
            .swiper-slide-active {
                .ase-swiper-slide-inner {
                    opacity: 1;
                    transform: scale3d(1,1,1);
                }
            }
        }
        &.ase-fadeInUp, &.ase-fadeInDown, &.ase-fadeInRight, &.ase-fadeInLeft {
            .swiper-slide-active {
                .ase-swiper-slide-inner {
                    opacity: 1;
                    transform: none
                }
            }
        }
    }
    .ase-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100%;
        padding: 50px 0px;
        position: relative;
        .ase-background-overlay {
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .ase-swiper-slide-inner {
            max-width: 66%;
            text-align: center;
            transition: 1.25s;
            &.zoomIn {
                opacity: 0;
                transform: scale3d(.3,.3,.3);
            }
            &.fadeInDown {
                opacity: 0;
                transform: translate3d(0,-100%,0)
            }
            &.fadeInUp {
                opacity: 0;
                transform: translate3d(0,100%,0)
            }
            &.fadeInRight {
                opacity: 0;
                transform: translate3d(100%,0,0)
            }
            &.fadeInLeft {
                opacity: 0;
                transform: translate3d(-100%,0,0)
            }
            .title, .content {
                margin: 0 0 30px 0;
                color: #fff;
            }
            .title {
                font-size: 35px;
                font-weight: 700;
                line-height: 1.4;
            }
            .content {
                font-size: 17px;
                line-height: 1.4;
                font-family: "Roboto Slab", Bangla454, sans-serif;
            }
            .ase-slide-button {
                background: transparent;
                text-decoration: none;
                border: 2px solid #fff;
            }

        }
    }
    .swiper-button-next, .swiper-button-prev {
        background-image: initial;
        color: hsla(0,0%,93.3%,.9);
    }
    .swiper-button-next {
        right: 25px;
    }
    .swiper-button-prev {
        left: 25px;
    }
    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 30px;
        font-weight: 700;
    }
    .swiper-pagination-bullet-active {
        background-color: hsla(0,0%,93.3%,.9); 
    }
}
